<h1>Listing datos</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Mail</th>
      <th>Edad</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @datos.each do |dato| %>
      <tr>
        <td><%= dato.nombre %></td>
        <td><%= dato.apellido %></td>
        <td><%= dato.mail %></td>
        <td><%= dato.edad %></td>
        <td><%= link_to 'Show', dato %></td>
        <td><%= link_to 'Edit', edit_dato_path(dato) %></td>
        <td><%= link_to 'Destroy', dato, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dato', new_dato_path %>
